body{
    margin: 0px;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: gold;
}
a:visited{
    background-color: blueviolet;
    color: blue;
}
.welcome{
    margin: 0px;
    padding: 1.5%;
    background-color: whitesmoke;
}
.container{
    margin: 0px;
    height: 300px;
    width: 100%;
    background-color:white;
    display: flex;
}
.card1{
    height: 300px;
    width: 33%;
    background-color:#F6F7C1;
    display: inline-block;
}
.card2{
    height: 300px;
    background-color: bisque;
    width:33%;
    display: inline-block;
}
.card3{
    height: 300px;
    background-color: #F6F7C1;
    width: 34%;
    display: inline-block;
}
.button1{
    background-color: orange;
    border-radius: 50px;
    padding: 10px;
}
.button1:hover,.button1:focus{
    background-color: #90b116;
    color: white;
}